<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><strong>Nicolas Xu</strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#" {% if '/aboutme/' in request.path %} class="active" {% endif %}>About Me</a></li>
                <li><a href="{% url 'blogs:blogs_index' %}" {% if '/blogs/' in request.path %} class="active" {% endif %} >Blogs</a></li>
                <li><a href="#" {% if '/twitters/' in request.path %} class="active" {% endif %}>Twitters</a></li>
                <li><a href="#" {% if '/cv/' in request.path %} class="active" {% endif %}>CV</a></li>
                <li><a href="#" {% if '/contact/' in request.path %} class="active" {% endif %}>Contact</a></li>
            </ul>


            <form method="GET" action="" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" value="{{request.GET.q }}">
                </div>
                <button type="submit" class="btn btn-default">Search <i class="fa fa-search"></i> </button>
            </form>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<br>